<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
<h4 class="text-center" th:text="'Welcome to ThoughtWorks Vapasi Airlines'"/>
<br/>
</div>
<!--Input from the user-->
<div class="container">
    <h5 th:text="'Lets search for some flights'"/>
    <form method="post" th:action="@{/search}" th:object="${searchCriteria}">
        <table class="table">
            <tr>
                <td>
                    <p th:text="'Source: '"/>
                </td>
                <td>
                    <select class="form-control" id="source" name="source" required="required"
                            th:field="*{source}">
                        <option value="">Select</option>
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}">
                        </option>

                    </select>
                </td>
                <td>
                    <p th:text="'Destination: '"/>
                </td>
                <td>
                    <select class="form-control" id="destination" name="destination" required="required"
                            th:field="*{destination}">
                        <option value="">Select</option>
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}"
                        >
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:text="'Number Of Passengers'"/>
                </td>
                <td>
                    <input type="text" class="form-control" name="Number Of Passengers" min="1" required="required"
                           th:field="*{numberOfPassengers}"/>
                </td>
                <td>
                    <p th:text="'Class of Travel'"/>
                </td>
                <td>
                    <select class="form-control" id="travelClassType" name="destination" required="required"
                            th:field="*{travelClassType}">
                        <option value="">Select</option>
                        <option th:each="travelClass : ${T(airline.model.TravelClassType).values()}"
                                th:value="${travelClass}"
                                th:text="${travelClass}"
                        >
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:text="'Departure On'"/>
                </td>
                <td>
                    <input class="form-control" id="date" type="date" th:field="*{date}"/>
                </td>
                <td>
                    <input type="submit" value="Submit"/>
                </td>

            </tr>
        </table>
    </form>
</div>
<!--Display the flight search results-->
<br/>
<div class="container"  th:if="${foundResults} == true">
    <h5 th:text="'Found some lovely flights for you'"/>
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Airplane</th>
            <th>Flight Id</th>
            <th>Departure Date</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="searchResult : ${searchResults}">
            <td th:text="${searchResult.flight.source}"/>
            <td th:text="${searchResult.flight.destination}"/>
            <td th:text="${searchResult.flight.airplane.getAirplaneInfo()}"/>
            <td th:text="${searchResult.flight.flightNumber}"/>
            <td th:text="${T(java.time.ZonedDateTime).parse(searchResult.flight.dateOfDeparture).toLocalDate().toString()}"/>
            <td th:text="${#numbers.formatDecimal(searchResult.price, 0, 2)}"/>
        </tr>
        </tbody>
    </table>
</div>
<div class="container" th:if="${foundResults} == false">
    <h5 th:text="'Oopsie! No Flights Found'"/>
</div>
</body>
</html>
